html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #e3e3e3;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 30rem;
  width: 50rem;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.control__input {
  width: 40%;
  font-size: 0.9rem;
}

.control__input input {
  width: 100%;
  margin-top: 0.3rem;
  height: 1.5rem;
  box-sizing: border-box;
  border: none;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 10%;
  height: 1.5rem;
  background-color: #ffffff;
  cursor: pointer;
}

.control__btn button {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.window {
  height: 85%;
  background-color: white;
}

.control__btn, .control__input input, .window {
  border-radius: 0.2rem;
  box-shadow:0 0 1px #000;
}